<!doctype html>
<html lang="ru"> 
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                   
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/42119329?query=java">Middle Java Developer (Удаленно)</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">ООО Татикома системс</td> 
     <td class="salary">от 115 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/42119499?query=java">Senior Java Developer (Удаленно)</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">ООО Татикома системс</td> 
     <td class="salary">от 175 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/42182811?query=java">Senior Java разработчик</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">ООО Интем Лаб</td> 
     <td class="salary">95 000-150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/37033404?query=java">Java-разработчик</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">СимбирСофт,ООО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/42339239?query=java">Разработчик в тестировании/SDET (Python)</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">СимбирСофт,ООО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/41944657?query=java">Lead Backend QA engineer</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/41129157?query=java">Senior Web QA</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/40726114?query=java">Middle iOS ‎разработчик</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/40728408?query=java">Senior iOS разработчик</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/42210341?query=java">Frontend разработчик (Java Script)</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">Кадровое агентство Юнити</td> 
     <td class="salary">180 000-250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/41609309?query=java">Middle/Senior Java Backend разработчик (офис или удаленная работа)</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">АО ГНИВЦ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/35403884?query=java">Middle - разработчик (Кейсистемс)</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">Кейсистемс</td> 
     <td class="salary">60 000-80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/41771705?query=java">Тестировщик ПО/QA</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">АО РТСофт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/41762356?query=java">Backend QA engineer</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/41079086?query=java">Middle Java Developer (Custom Solutions), Удаленно</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/37982834?query=java">Аndroid разработчик</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">ООО Лайм Эйч Ди</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/40834269?query=java">Программист мобильного приложения (Android и IOS)</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/40811144?query=java">Программист Windows/Linux</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/39532754?query=java">Программист по направлению голосового управления</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">РОСТСЕЛЬМАШ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/37722712?query=java">Разработчик T- SQL</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">Diasoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/41079105?query=java">Middle IDE Developer (CUBA Platform, Удаленно)</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/41687618?query=java">Заместитель начальника УИТ</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">ООО Коммерческий Банк Мегаполис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://kazan.hh.ru/vacancy/41814462?query=java">JavaScript программист</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">ООО Бокус</td> 
     <td class="salary">30 000-100 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>